body{
	font-family: "calibri";
	background-image: url(flor.jpg);
    background-size: 1300px 800px;
	width: 350px;
	margin: 0 auto;
}
h1{
	font-size: 50px;
	color:#FF8000;
}
h2{
	color:#F78181;
}
h3{
	color:#2ECCFA;
}
div{
	text-align: center;
	text-align: justify-all;
}
p{
	color:white;
}
